div{
    position: relative;
    top: 150px;
    z-index:0;
    height:450px;
    overflow-y: auto;
}
table{
    width:100%
}
table,th,td{
    border:2px solid purple;
    border-collapse: collapse;
}
th,td{
    padding: 2px;
}
td button{
    margin: 5px;
}
mat-card-header{
    background-color: purple;
}
.example-card{
    width:90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
mat-card-content{
    margin-top: 10px;
}
mat-card-actions {
  display: flex;
  justify-content: flex-end; 
}
mat-paginator{
    display: flex;
    justify-content: center;
}

