div{
    display: flex;
    gap:20px;
    background-color:lightblue;
}
a{
    margin-left: 30px;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color:darkgreen;
}

a.active {
  color: yellow;
  border-bottom: 2px solid yellow;
}

